
__pycache__/estilo.cpython-36.pyc
__pycache__/Inicio.cpython-36.pyc
.idea/vcs.xml
.idea/ScrabbleAR.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionaries/Julia.xml
